[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-email {
	width: 32px;
	height: 32px;
}
.icon-gitguy {
	width: 32px;
	height: 32px;
}
.icon-linkedin {
	width: 32px;
	height: 32px;
}
